# day 2

### numpy:package for multidimensional array
#### Vector (1d)
##### Martix (2d or 1d)

### create an array

In [2]:
import numpy as np

In [3]:
simple_list=[6,7,9]
np.array(simple_list)

array([6, 7, 9])

In [4]:
arr=np.array([6,7,9])
arr

array([6, 7, 9])

In [6]:
list_of_lists=[1,2,3],[4,5,6],[7,8,9]
np.array(list_of_lists)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
np.arange(10,32)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31])

In [8]:
np.arange(10,83,8)

array([10, 18, 26, 34, 42, 50, 58, 66, 74, 82])

In [9]:
np.zeros(6)

array([0., 0., 0., 0., 0., 0.])

In [10]:
np.zeros(6,dtype=int)

array([0, 0, 0, 0, 0, 0])

In [11]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [12]:
np.ones(5,dtype=int)

array([1, 1, 1, 1, 1])

In [13]:
np.linspace(0,1,5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [14]:
np.eye(5,dtype=int)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [15]:
np.ones((2,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [16]:
np.ones((2,6),dtype=int)

array([[1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1]])

In [17]:
np.random.rand(2,4)

array([[0.482469  , 0.33255228, 0.14889727, 0.41659781],
       [0.93840904, 0.91721615, 0.44782115, 0.27141182]])

In [18]:
np.random.randn(2,4)

array([[ 0.46014318,  0.31296664, -0.341053  ,  0.14553055],
       [ 2.91096961,  0.82492041, -0.47616922, -0.715563  ]])

In [19]:
np.random.rand(2,5)

array([[0.85508155, 0.21477955, 0.01221374, 0.10901153, 0.19709512],
       [0.80252207, 0.16948649, 0.49101306, 0.34783057, 0.70764784]])

In [20]:
np.random.randint(0,10,15)

array([0, 7, 2, 2, 4, 1, 2, 7, 7, 0, 3, 4, 5, 6, 5])

In [21]:
sample_array=np.arange(2,20)

In [22]:
sample_array

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [23]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [25]:
rand_array=np.random.randint(0,10,5)
rand_array

array([9, 9, 1, 4, 6])

In [26]:
sample_array.min()

2

In [27]:
sample_array.argmin()

0

In [28]:
rand_array.argmin()

2

In [29]:
rand_array.max()

9

In [30]:
sample_array.argmax()

17

In [31]:
a=np.eye(5)

In [32]:
a

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [33]:
a=np.random.rand(2,3)
a

array([[0.79077286, 0.23153274, 0.75078549],
       [0.14595094, 0.18595447, 0.07392815]])

In [34]:
a.T

array([[0.79077286, 0.14595094],
       [0.23153274, 0.18595447],
       [0.75078549, 0.07392815]])

In [35]:
sample_array=np.arange(10,28)
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27])

In [38]:
sample_array=sample_array.reshape(6,3)
sample_array

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18],
       [19, 20, 21],
       [22, 23, 24],
       [25, 26, 27]])

In [39]:
sample_array[5]=100
sample_array

array([[ 10,  11,  12],
       [ 13,  14,  15],
       [ 16,  17,  18],
       [ 19,  20,  21],
       [ 22,  23,  24],
       [100, 100, 100]])

In [40]:
sample_array=np.arange(10,100)

In [41]:
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94,
       95, 96, 97, 98, 99])

In [42]:
sample_array[2:10] #index from 2 to 10

array([12, 13, 14, 15, 16, 17, 18, 19])

In [43]:
subset_sample_array=sample_array[0:7]
subset_sample_array

array([10, 11, 12, 13, 14, 15, 16])

In [44]:
sample_array[1:5]=1001
sample_array

array([  10, 1001, 1001, 1001, 1001,   15,   16,   17,   18,   19,   20,
         21,   22,   23,   24,   25,   26,   27,   28,   29,   30,   31,
         32,   33,   34,   35,   36,   37,   38,   39,   40,   41,   42,
         43,   44,   45,   46,   47,   48,   49,   50,   51,   52,   53,
         54,   55,   56,   57,   58,   59,   60,   61,   62,   63,   64,
         65,   66,   67,   68,   69,   70,   71,   72,   73,   74,   75,
         76,   77,   78,   79,   80,   81,   82,   83,   84,   85,   86,
         87,   88,   89,   90,   91,   92,   93,   94,   95,   96,   97,
         98,   99])

# two dimensional array

In [45]:
import numpy as np

In [47]:
a=np.array([[24,12,2,3],[1,2,3,4],[5,6,7,8]])
a

array([[24, 12,  2,  3],
       [ 1,  2,  3,  4],
       [ 5,  6,  7,  8]])

In [48]:
a[2][2]

7

In [49]:
a[:,3]

array([3, 4, 8])

In [50]:
a[1][3]

4

In [51]:
a[1:3,2:4]

array([[3, 4],
       [7, 8]])

In [52]:
a[1:,2:]

array([[3, 4],
       [7, 8]])

In [53]:
a[2]

array([5, 6, 7, 8])

In [56]:
a=np.arange(1,8)
a

array([1, 2, 3, 4, 5, 6, 7])

In [57]:
np.max(a)

7

In [58]:
np.square(a)

array([ 1,  4,  9, 16, 25, 36, 49], dtype=int32)

In [59]:
np.std(a)

2.0

In [60]:
np.var(a)

4.0

In [61]:
np.mean(a)

4.0

In [62]:
array=np.random.randn(3,4)
array

array([[ 1.46840453,  0.09353714, -2.47110801, -0.69935884],
       [ 0.01459751, -0.56363046, -0.23271092, -0.80757169],
       [ 0.14992156,  0.28557093,  0.24085527, -0.38468074]])

In [63]:
np.round(array,decimals=3)

array([[ 1.468,  0.094, -2.471, -0.699],
       [ 0.015, -0.564, -0.233, -0.808],
       [ 0.15 ,  0.286,  0.241, -0.385]])

In [64]:
fruits=np.array(['aaple','mango','orange'])
np.unique(fruits)

array(['aaple', 'mango', 'orange'], dtype='<U6')

# PANDAS

In [65]:
import pandas as pd

In [66]:
import numpy as np

## pandas dataframe and indexing

In [67]:
s=pd.Series([1,2,3,4],index=['a','b','c','d'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [68]:
d=pd.Series([5,6,7,8],index=['e','f','g','h'])
d

e    5
f    6
g    7
h    8
dtype: int64

In [69]:
s+d  # it should be common otherwise its gonna show NaN

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64

In [72]:

df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='a b c d e'.split())
df1

          a         b         c         d         e
A  0.337731  0.184626  0.833985  0.467620  0.855216
B  0.772193  0.570506  0.171122  0.108440  0.247407
C  0.744754  0.675750  0.900973  0.675651  0.778807
D  0.992209  0.137339  0.181330  0.096740  0.451463
E  0.776079  0.638940  0.647062  0.236126  0.931523
F  0.238873  0.861587  0.563636  0.068959  0.030152
G  0.240780  0.209591  0.650929  0.712955  0.124447
H  0.146395  0.777347  0.457445  0.581789  0.267829

In [73]:
df1[['b','c','d']]

          b         c         d
A  0.184626  0.833985  0.467620
B  0.570506  0.171122  0.108440
C  0.675750  0.900973  0.675651
D  0.137339  0.181330  0.096740
E  0.638940  0.647062  0.236126
F  0.861587  0.563636  0.068959
G  0.209591  0.650929  0.712955
H  0.777347  0.457445  0.581789

In [74]:
df1['b']

A    0.184626
B    0.570506
C    0.675750
D    0.137339
E    0.638940
F    0.861587
G    0.209591
H    0.777347
Name: b, dtype: float64

In [75]:
df1['e']=df1['a']+df1['b']
df1

          a         b         c         d         e
A  0.337731  0.184626  0.833985  0.467620  0.522357
B  0.772193  0.570506  0.171122  0.108440  1.342699
C  0.744754  0.675750  0.900973  0.675651  1.420504
D  0.992209  0.137339  0.181330  0.096740  1.129548
E  0.776079  0.638940  0.647062  0.236126  1.415020
F  0.238873  0.861587  0.563636  0.068959  1.100459
G  0.240780  0.209591  0.650929  0.712955  0.450371
H  0.146395  0.777347  0.457445  0.581789  0.923742

In [76]:
df1.drop('E')

          a         b         c         d         e
A  0.337731  0.184626  0.833985  0.467620  0.522357
B  0.772193  0.570506  0.171122  0.108440  1.342699
C  0.744754  0.675750  0.900973  0.675651  1.420504
D  0.992209  0.137339  0.181330  0.096740  1.129548
F  0.238873  0.861587  0.563636  0.068959  1.100459
G  0.240780  0.209591  0.650929  0.712955  0.450371
H  0.146395  0.777347  0.457445  0.581789  0.923742

In [77]:
df1.drop('a',axis=1)

          b         c         d         e
A  0.184626  0.833985  0.467620  0.522357
B  0.570506  0.171122  0.108440  1.342699
C  0.675750  0.900973  0.675651  1.420504
D  0.137339  0.181330  0.096740  1.129548
E  0.638940  0.647062  0.236126  1.415020
F  0.861587  0.563636  0.068959  1.100459
G  0.209591  0.650929  0.712955  0.450371
H  0.777347  0.457445  0.581789  0.923742

In [78]:
df1.drop("A",axis=0)

          a         b         c         d         e
B  0.772193  0.570506  0.171122  0.108440  1.342699
C  0.744754  0.675750  0.900973  0.675651  1.420504
D  0.992209  0.137339  0.181330  0.096740  1.129548
E  0.776079  0.638940  0.647062  0.236126  1.415020
F  0.238873  0.861587  0.563636  0.068959  1.100459
G  0.240780  0.209591  0.650929  0.712955  0.450371
H  0.146395  0.777347  0.457445  0.581789  0.923742

In [79]:
df1.drop(["a","b"],axis=1)

          c         d         e
A  0.833985  0.467620  0.522357
B  0.171122  0.108440  1.342699
C  0.900973  0.675651  1.420504
D  0.181330  0.096740  1.129548
E  0.647062  0.236126  1.415020
F  0.563636  0.068959  1.100459
G  0.650929  0.712955  0.450371
H  0.457445  0.581789  0.923742

In [81]:
df2={'ID':[101,102,103,107,176],'Name':['a','b','c','d','e'],'profit':[1,2,3,4,5]}
df=pd.DataFrame(df2)
df

    ID Name  profit
0  101    a       1
1  102    b       2
2  103    c       3
3  107    d       4
4  176    e       5

In [82]:
df.drop('ID',axis=1)

  Name  profit
0    a       1
1    b       2
2    c       3
3    d       4
4    e       5

In [83]:
df.drop(3)

    ID Name  profit
0  101    a       1
1  102    b       2
2  103    c       3
4  176    e       5

In [84]:
df['Name']

0    a
1    b
2    c
3    d
4    e
Name: Name, dtype: object

In [85]:
df[['Name','ID']]

  Name   ID
0    a  101
1    b  102
2    c  103
3    d  107
4    e  176

In [86]:
df=pd.read_csv("innercity.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'innercity.csv'

In [87]:
df.head()

    ID Name  profit
0  101    a       1
1  102    b       2
2  103    c       3
3  107    d       4
4  176    e       5

In [88]:
''' 
Assessment
1) create a null vector of size 10
2) create a null vector of size 10 but the fifth value should be on
3) create a vector with values ranging from 10 to 65
4) reverse the above vector 
5) create a 3x3 matrix with values ranging from 0 to 8
'''

' \nAssessment\n1) create a null vector of size 10\n2) create a null vector of size 10 but the fifth value should be on\n3) create a vector with values ranging from 10 to 65\n4) reverse the above vector \n5) create a 3x3 matrix with values ranging from 0 to 8\n'

In [90]:
# 1
a=np.zeros(10)
a

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [91]:
a=np.zeros(10)
a[4]=1
a

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [93]:
a=np.arange(10,65)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64])

In [101]:
b=a[::-1]
b

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

In [96]:
a=np.array([[0,1,2],[3,4,5],[6,7,8]])
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [100]:
a=np.arange(0,9).reshape(3,3)
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])